#red {color:red;}
#green {color:green;}
p{
	font-style:italic;
	text-align:right;
	margin-top:0.5em;
	color:red;
}
h2{
	color:red;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	margin: 0;
	line-height: 1.5;
	text-align: right;
}